nav.navigation
	.navigation__link__wrapper
		a.navigation__link(href='/')
			|	Muhammad Akmal 

		.navigation__current__job__wrapper(class=`navigation__current__job__wrapper--${navbar.data.route === 'works' || navbar.data.route === 'blog' ? 'hide' : ''}`)
			p.navigation__current__job__text=navbar.data.current_job

	ul.navigation__list
		.navigation__list__top__wrapper
			li.navigation__list__item(class=`navigation__list__item--${navbar.data.route === 'works' ? 'hide' : ''}`)
				a.navigation__list__link(href='/works') Works
			li.navigation__list__item(class=`navigation__list__item--${navbar.data.route === 'about' ? 'hide' : ''}`)
				a.navigation__list__link(href='/about') About
		li.navigation__list__item 
			a.navigation__list__link(href=`mailto:${navbar.data.email}`) Get In Touch