extends ../base.pug

block variables 
	- var template = 'home'

block content
	.home
		.home__wrapper 
			.home__title__wrapper
				.home__title(class='home__title--1')=home.data.title_1
				section.home__personalities
					.home__personalities__wrapper 
							.home__personalities__item__wrapper
								each personality, index in home.data.personalities
									span.home__personalities__item
										.home__personalities__text__wrapper
											p.home__personalities__text(class=`home__personalities__text--${personality.personalities_category.toLowerCase()}`)!=personality.personalities_title_1 === 'Wildcard' ? addSpanHandler(personality.personalities_title_1, 'letter') : personality.personalities_title_1
											p.home__personalities__text!=personality.personalities_title_2
									span.home__personalities__item
										figure.home__personalities__images__media
											img.home__personalities__images__media__image(alt=workImages[index].alt data-src=workImages[index].url) 
								each personality, index in home.data.personalities
									span.home__personalities__item
										.home__personalities__text__wrapper
											p.home__personalities__text(class=`home__personalities__text--${personality.personalities_category.toLowerCase()}`)!=personality.personalities_title_1 === 'Wildcard' ? addSpanHandler(personality.personalities_title_1, 'letter') : personality.personalities_title_1
											p.home__personalities__text!=personality.personalities_title_2
									span.home__personalities__item
										figure.home__personalities__images__media
											img.home__personalities__images__media__image(alt=workImages[index].alt data-src=workImages[index].url) 
				.home__title(class='home__title--2')=home.data.title_2
			//- section.home__story 
			//- 	.home__story__text!=addSpanHandler(home.data.story, 'word')
			//- 	each media in home.data.story_images
			//- 		figure.home__story__media(class=`home__story__media--${media.story_images_category.toLowerCase()}`)
			//- 			img.home__story__media__image( alt=media.story_images_image.alt data-src=media.story_images_image.url)
			//- section.home__example 
			//- 	p.home__example__text!='Macaroon croissant pastry shortbread<br> cupcake chupa chups pudding.<br> Gummies pie candy canes sweet roll cake chupa chups cake fruitcake.<br>Cake bonbon chupa chups carrot<br> cake cake gingerbread cookie cake.'
			//- section.home__welcoming 
			//- 	.home__welcoming__text!=addSpanHandler(home.data.welcoming, 'word')
			//- 	a.home__works(href='/category')!=home.data.works
				
				