extends ../base.pug

block variables 
  - var template = 'works'

block content
  .works
    .works__wrapper 
      section.works__transition
        .works__transition__wrapper 
          each category in categories 
            .works__transition__title__wrapper
      section.works__header 
        .works__header__wrapper
          each work, index in works
            .works__header__title__wrapper__outer(class=`works__header__title__wrapper__outer--${index === 0 ? 'active' : ''}`)
              .works__header__title__wrapper(data-animation="infinite-marquee")
                each line in [0,1,2,3,4,5,6]
                  span.works__header__title__inner
                    .works__header__title__title=work.data.title
                    .works__header__title__circle(class=`works__header__title__circle--${work.data.category.uid.toLowerCase()}`)
      section.works__gallery
        .works__gallery__wrapper
          each work, index in works
            a.works__gallery__link( href=work.data.url.url ? work.data.url.url : `/works/${work.uid}` target=work.data.url.url ? '_blank' : '' rel=work.data.url.url ? 'noopener noreferrer': '')
              figure.works__gallery__media(id=firstIndexInCategoryMap.includes(index) ? `first-${work.data.category.uid}` : '' data-index=work.index data-list-index=index)
                img.works__gallery__media__image(alt=work.data.image.alt data-src=work.data.image.url) 
      section.works__category 
        each category, index in categories
          .works__category__wrapper(class=`${index === 0 ? 'works__category__wrapper--active' : ''}`)
            .works__category__title=category.data.type
            a.works__category__link__text(href=category.data.link_url.url target="_blank")=category.data.link_text