extends ../base.pug

block variables 
  - var template = 'works'

block content
  .works
    .works__wrapper 
      //- section.works__opening 
      //-   .works__opening__wrapper
      //-     each category in categories 
      //-       .works__opening__title__wrapper
      //-         .works__opening__title=category.data.type
      section.works__list 
        .works__list__wrapper
          each work, index in works
            .works__list__title__wrapper
              each line in [0,1,2,3]
                .works__list__title__title(class=`${index === 0 ? 'works__list__title__title--active' : ''}`)=work.data.title
                .works__list__title__circle(class=`works__list__title__circle--${work.data.category.uid.toLowerCase()} ${index === 0 ? 'works__list__title__circle--active' : ''}`)
        .works__list__gallery__wrapper
          each work, index in works
            a.works__list__gallery__media__wrapper(href=work.data.url.url ? work.data.url.url : `/works/${work.uid}` target=work.data.url.url ? '_blank' : '')
              figure.works__list__gallery__media 
                img.works__list__gallery__media__image(alt=work.data.image.alt src=work.data.image.url) 
      section.works__category 
        .works__category__wrapper
          each category, index in categories
            .works__category__title__wrapper(class=`${index === 0 ? 'works__category__title__wrapper--active' : ''}`)
              .works__category__title(class=`${index === 0 ? 'works__category__title--active' : ''}`)=category.data.type
              //- a.works__category__link__text(class=`${category.data.link_text ? 'works__category__link__text--active' : ''}` href=category.data.link_url.url target="_blank")=category.data.link_text
              a.works__category__link__text(class=`${index === 0 ? 'works__category__link__text--active' : ''}` href=category.data.link_url.url target="_blank")=category.data.link_text