extends ../base.pug

block variables 
  - var template = 'works'

block content
  .works
    .works__wrapper 
    section.works__category 
      each category in categories 
        .works__category__title=category.data.type
        a.works__category__link__text(href=category.data.link_url)=category.data.link_text
    section.works__list 
      each work in works 
        .works__list__title=work.data.title
        figure.works__list__media 
          img.works__list__media__image(alt=work.data.image.alt src=work.data.image.url)